body { font-family: adihaus_regular; background-color: #F2F2F2;}
h2 { font-weight:100; font-size: 22px; }


#code {width:100%; height:auto; margin:0px; background-color:#E7E7E7; color:#000000; font-style:italic; }


.ui-button-text {
    background-color:#C55B25; font-family: AdiHaus-Regular; font-size: 12px; color: #FFFFFF; padding: 10px 30px 10px 30px; display:inline-block; width: auto; min-width:100px; text-align:center; max-width:230px; }
.ui-button-text:hover { background-color:#E07C49; }
.ui-button-text:active { background-color:#AD4D1D; }

.light {background-color: #E27A50;}
.disabled{background-color: #E2E2E2;}
.buttonLeft{float: left; margin-right: 30px;}
.buttonRight{float: right;}

/*
- Footer CSS
*/


.wraper{
	width: 100%;
}

.footerWraper{
	height: 200px;
	}

.footerLeft{
	width: 25%;
	height:65%;
	background-color: rgb(108,111,112);
	float: left;   
	display: table;
	}

.footerRight{
	width: 75%;
	height:65%;
	background-color: rgb(160,161,163);
	float: left;
	display: table;
	color: rgb(218,218,219)}

.footerBottom{
	width: 100%;
	height: 25%;
	background-color: rgb(51,51,51);
	position: relative;
	top: 15%;
	display: table;
	color: rgb(184,184,184);}

.leftSpan {
	display: table-cell;
  	vertical-align: middle;
  	padding: 10px 30px 10px 30px;
  	}

 .rightSpan {
	display: table-cell;
  	vertical-align: middle;
  	padding: 10px 30px 10px 30px;
  	float: right;}

  .footerBottom a{

  		color: rgb(184,184,184);
  		text-decoration: none;
  }

  .colors{
  	width: 100px;
  	height: 100px;
  	float: left;
  	
  }

  .colorsWraper{
  	display: block;
  	overflow: auto;
  }

  
/*Primary Colors*/
  #orange{background-color: #CC6942;}
  #orangeLight{background-color: #E27A50;}
  #grey{background-color: #878787;}
  #lighterGrey{background-color: #ADADAD;}
  #lightestGrey{background-color: #E2E2E2;}

 /*Secondary Colors*/
  #blue{background-color: #9AB7DC;}
  #blueLight{background-color: #BFD6F2;}
  #green{background-color: #85A169;}
  #greenLight{background-color: #AAC58D;}

  /*Notification Colors*/
  #notificationGrey{background-color:#878787}
  #notificationLighterGrey{background-color:#C3C3C3}
  #notificationLightestGrey{background-color:#E2E2E2}
  #notificationOrange{background-color:#C7582F}
  #notificationOrangeLight{background-color:#E27A50}
  #notificationOrangeLightest{background-color:#F49169}
  #notificationYelow{background-color:#B19B54}
  #notificationLighterYelow{background-color:#F8DF90}
  #notificationLightestYelow{background-color:#FBE7A6}
  #notificationGreen{background-color:#85A169}
  #notificationGreenLight{background-color:#CDDDBD}
  #notificationGreenLightest{background-color:#DEEBCF}

  /*Seelect boxes*/

 select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-color: #FFFFFF; /* fallback color if gradients are not supported */
    background-image: url(img/arrow.svg); /* For Chrome and Safari */
    background-position: 98% 50%;
    background-repeat: no-repeat;
    border: 1px solid #E2E2E2;
    border-radius: 0px;
    color: #F3F3F3;
    font-size: inherit;
    font-family: adihaus_italic;
    white-space: nowrap;
    width: 300px;
    padding-left: 10px;
	  padding-top: 4px;
}
select:hover{
	border: 1px solid #878787;
}
select:focus{
  outline: none;
}

.text-links{
	color: #CC6942;
}
.text-links:hover{
	color: #E9B39D;
}
.text-links:active{
	color: #393939;
}
.smallTiles {
    background-color:#FFFFFF; 
    font-family: AdiHaus-Regular; 
    width: auto; 
    width:200px; 
    height: 200px;
    background-image: url(img/mac_mini_2014_intro.png);
    background-position: center; 
    background-repeat: no-repeat;
}
.smallTiles:hover { background-color:#FCFCFC; }
.smallTiles:active { background-color:#FCFCFC; }

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border: 1px solid #E2E2E2;
    border-radius: 0px;
    background-color: #FFFFFF;
}
input[type="checkbox"]:checked + label span {
    background:url(img/checkbox.svg) center no-repeat;
    border: 1px solid #E2E2E2;
}

.aspenTile{
	width: 400px;
	height: 200px;
	background-color: #FFFFFF;
	background-image: url(img/aspenActive.png);
    background-position: 20% 50%; 
    background-repeat: no-repeat;
}

.aspenTile:hover{
	background-image: url(img/aspenHover.png);
    background-position: 20% 50%; 
    background-repeat: no-repeat;
}

.headerMenu{
	width: 400px;
	height: 200px;
	background-color: #FFFFFF;
	display: table;
	float: left;
}

.headerMenu a{
	display: table-cell;
	vertical-align: middle;
	color: #CBCBCB;
	padding-left: 20%;
	text-decoration: none;
}

.headerMenu:hover a{
	text-decoration: underline;
	color: #D7D7D7;
}

#second:hover a{
	text-decoration: underline;
	color: #F2C5B2;
}

.headerMenu:active a{
	color: #CE704B;
}

#second {
	margin-left: 30px;
}

.headerMenuWraper{
  	display: block;
  	overflow: auto;
  }

 .holder{
 	float: left;
 	width: 30%;
 }

 .headerBasket{

 	width: 75px;
 	height: 75px;
 	background-color: #FFFFFF;
 	background-image: url(img/headerBasketNormal.png);
    background-position: center; 
    background-repeat: no-repeat;

 }

 .headerBasket:hover{

 	background-image: url(img/headerBasketHover.png);
    background-position: center; 
    background-repeat: no-repeat;

 }

 .headerBasket:active{

 	background-image: url(img/headerBasketActive.png);
    background-position: center; 
    background-repeat: no-repeat;

 }

 #headerBasket2:hover {
	background-image: url(img/headerBasketHoverSecond.png);
    background-position: center; 
    background-repeat: no-repeat;
}
.divLink{
	display: block;
}


.searchInput {
  width: 200px;
  height: 20px;
  color: #F8F8F8;
  font-family: adihaus_italic;
  background-image: url(img/lupa.png);
  background-position: 98% 50%; 
  background-repeat: no-repeat;
  direction: none;
  margin: 5px 10px 5px 10px;
  border: 1px solid #E2E2E2;
                
}
.searchInput::-webkit-input-placeholder { /* WebKit browsers */
  line-height: 1.5em;
}
.searchInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  line-height: 1.5em;
}
.searchInput::-moz-placeholder { /* Mozilla Firefox 19+ */
  line-height: 1.5em;
}
.searchInput:-ms-input-placeholder { /* Internet Explorer 10+ */
  line-height: 1.5em;
}

.searchInput:focus{
  color: #A0A0A0;
  outline: none;
  border: 1px solid #878787;
}

.searchInput:hover{
      border: 1px solid #878787;
}

.backButton{
  background-image: url(img/backNormal.png);
  background-position: 2% 50%; 
  background-repeat: no-repeat;
  color: #A2A2A2;
  text-decoration: none;
  padding-left: 12px;
}

.backButton:hover{
  background-image: url(img/backHover.png);
  background-position: 2% 50%; 
  background-repeat: no-repeat;
  color: #949494;
}

.countrySellection{
  color: #989898;
}

#country{
  color: #656565;
  font-family: adihaus_regular;
}

.closeButton{
  background-image: url(img/closeNormal.png);
  background-position: right; 
  background-repeat: no-repeat;
  color: #CF744F;
  text-decoration: none;
  padding-right: 24px;
}

.closeButton:hover{
  background-image: url(img/closeHover.png);
  background-position: right; 
  background-repeat: no-repeat;
  color: #E58F6D;
}

.bigTile{
  width: 350px;
  height: 350px;
  background-color: #FFFFFF;
  background-image: url(img/macBook.png);
  background-position: center; 
  background-repeat: no-repeat;
}

.bigTile:hover .bigTileInfo{
  visibility: visible;
}

.bigTileInfo{
  max-width: 100%;
  height: 50%;
  position: relative;
  top: 50%;
  background-color: #E27A50;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  visibility: hidden;
  padding: 15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
}

.bigTileHeading{
  font-family: adihaus_bold;
  font-size: 16px;
  color: #FFFFFF;
}

.bigTileDescription{
  font-family: adihaus_oblique;
  font-size: 13px;
  color: #FFFFFF;
}

.showDetails{
  color: #FFFFFF;
  text-decoration: none;
  position: absolute;
  bottom: 4%;
  right: 4%;
}

.showDetails:hover{
  text-decoration: underline;
}

.breadcrumpHolder{
  display: table;
  background-color: #E2E2E2;
  height: 50px;
  width: 300px
}

.breadcrump{
  float: left;
  padding-left: 15px;

  color: #393939;
  text-decoration: none;
}

.breadcrumps{
   display: table-cell;
   vertical-align: middle;
}

.breadcrump:hover{
  color:#878787;
}

.breadcrump:active{
  color: #B7B7B7;
}

.getStuffTile{
  background-image: url(img/getStuf.png);
  background-size: cover;
  width: 300px;
  height: 300px;
  display: table;
   float: left;
  margin-right: 20px;
}

.logoHolderStuf{
  width: 100%;
  height: 100%;
  position: relative;
  background:url(img/getStufLogo.png) no-repeat center center;
  background-color: #C7582F;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

.logoHolderStuf:hover{
  background-color: #E27A50;
}

.getHelpTile{
  background-image: url(img/getHelpPic.png);
  background-size: cover;
  width: 300px;
  height: 300px;
  display: table;
  float: left;
  margin-right: 20px;
}

.logoHolderHelp{
  width: 100%;
  height: 100%;
  position: relative;
  background:url(img/getHelp.png) no-repeat center center;
  background-color: #9AB7DC;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

.logoHolderHelp:hover{
  background-color: #BFD6F2;
}

.getInfoTile{
  background-image: url(img/getInfoPic.png);
  background-size: cover;
  width: 300px;
  height: 300px;
  display: table;
   float: left;
  margin-right: 20px;
}

.logoHolderInfo{
  width: 100%;
  height: 100%;
  position: relative;
  background:url(img/getInfo.png) no-repeat center center;
  background-color: #85A169;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

.logoHolderInfo:hover{
  background-color: #AAC58D;
}


/* ----------- MENU TILE ------------- */
.MenuTile{
  background-image: url(img/menuTilePic.png);
  background-size: cover;
  width: 300px;
  height: 150px;
  display: table;
}

.MenuTileLogo{
  width: 100%;
  height: 100%;
  position: relative;
  background:url(img/menuTile.png) no-repeat center center;
  background-color: #C7552C;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  text-align: center;
}

.MenuTileLogo:hover{
  background-color: #E2784B;
}

.menuTileArrow{
  bottom: 4%;
  position: absolute;
  cursor: pointer;
} 


/* ----------- MENU TILE ------------- */

.popup{
  width: 900px;
  height: 300px;
  background-color: #FFFFFF;
  padding: 15px;
  position: relative;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
}

.rightCloseButton{
  float: right;
}

.headerHeadline{
  float: left;
  color: #D4D4D4;
  padding: 0;
  margin: 0;
}
.header{
  display: block;
  overflow: auto;
}

.underline {
  color: #878787;
}

.popupItemdata{
  display: block;
  overflow: auto;
  width: 100%;
  padding-top: 10px;
}
.itemDataLeft{
  float: left;
  width: 40%;
  display: block;
  overflow: auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
}
.itemDataRight{
  float: left;
  width: 60%;
  display: block;
  overflow: auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
}

.itemPic, .itemTitle{
  float: left;
}

.itemPic{
  padding-right: 10px;
}

.buttonHolder{
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
}

.info, .critical, .error, .success {
  width: 500px;
  height: 40px;
  display: block;
  overflow: auto;
  display: table;
}

.info{
  background-color: #C3C3C3;
  border-bottom: 3px solid #878787;
  background-image: url(img/info.png);
  background-position: 3% 50%; 
  background-repeat: no-repeat;
  color: #909090;
}

.critical{
  background-color: #E27A50;
  border-bottom: 3px solid #C7582F;
  background-image: url(img/critical.png);
  background-position: 3% 50%; 
  background-repeat: no-repeat;
  color: #CE6037;
}

.error{
  background-color: #F8DF90;
  border-bottom: 3px solid #BBA55C;
  background-image: url(img/error.png);
  background-position: 3% 50%; 
  background-repeat: no-repeat;
  color: #D9C176;
}

.success{
  background-color: #CDDDBD;
  border-bottom: 3px solid #85A169;
  background-image: url(img/sucess.png);
  background-position: 3% 50%; 
  background-repeat: no-repeat;
  color: #8EA772;
}

.info:hover{
  background-color: #E2E2E2;
}

.critical:hover{
  background-color: #F49169;
}

.error:hover{
  background-color: #FBE7A6;
}

.success:hover{
  background-color: #DEEBCF;
}

.notificationText{
  padding: 0;
  margin-left: 20%;
  float: left;
  display: table-cell;
  vertical-align: middle;
}

.close{
  display: table-cell;
  vertical-align: middle;
}

